<main>
    <aside class="barra-lateral">
        <div class="user">
            <div id="bemvindo">
                <p for="">Bem vindo!</p>
                <p>{{user}}</p>
                <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>                                                
            <img src="./../../assets/img/IFBA_MARCA_vertical-01.png" alt="">
        </div>
        <!-- <svg (click)="send()" viewBox="0 0 100 80" width="40" height="40">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
        </svg> -->
        <ul class="lista">
            <li>
                <b>Home  <i class="fa fa-home" aria-hidden="true"></i></b>
            </li>
            <li>
                <b>Funcionários <i class="fa fa-user" aria-hidden="true"></i> </b>
            </li>
            <li>
                <b>Produtos <i class="fa fa-cubes" aria-hidden="true"></i></b>
            </li>
        </ul>
    </aside>
    <div class="conteudo">
        <router-outlet></router-outlet>
    </div>
    
</main>

<footer>
    <div class="div-footer">
        &copy;Desenvolvido por Will & Joao Vitor
    </div>
    
</footer>




