<main>
    <aside class="barra-lateral">
        <div class="user">
            <img src="./../../assets/img/IFBA_MARCA_vertical-01.png" width="50%" height="50%" alt="">
            <div>
                <p><b>Bem vindo! {{user}}</b></p>                
            </div>
            
            
        </div>
        <!-- <svg (click)="send()" viewBox="0 0 100 80" width="40" height="40">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
        </svg> -->
        <ul class="lista">
            <li (click)="toHome()">
                <b>Home  <i class="fa fa-home" aria-hidden="true"></i></b>
            </li>
            <li (click)="toFuncionarios()">
                <b>Funcionários <i class="fa fa-user" aria-hidden="true"></i> </b>
            </li>
            <li (click)="toProdutos()">
                <b>Produtos <i class="fa fa-cart-arrow-down" aria-hidden="true"></i></b>
            </li>
            <li (click)="toSair()">
                <b>Sair <i class="fa fa-sign-out" aria-hidden="true"></i></b>
            </li>
        </ul>
    </aside>
    <ng-container >
        <div class="conteudo">

            <router-outlet></router-outlet>
        </div>
    </ng-container>        
</main>

<footer>
    <div class="div-footer">
        &copy;Desenvolvido por Will & Joao Vitor
    </div>
    
</footer>




