.btn-entrar {
    border: none;
    border-radius: 25px;
    padding: 4%;
    margin: 10px 0;
    /* width: 40%; */
    background-color: #349C34;
    font-weight: 900;
}

.btn-entrar:hover {
    cursor: pointer;
    background-color: #008F59;
}